# Build çýktýlarý
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Hassas dosyalar
appsettings.Production.json
appsettings.Test.json
appsettings.Development.json
service-account-key.json
launchSettings.json

#Docker
.env.prod
.env.test
.env